<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Add any additional CSS file paths here -->
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
           username: <input type="text" id="username" name="username">

            password: <input type="password" id="password" name="password">
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>
